body {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
  
  h1 {
    color: #7734eb;
  }
  
  h5 {
    color: #7734eb;
  }
  
  p {
    color: #7734eb;
    font-size: 17px;
    font-family: "Dancing Script", cursive;
    font-family: "Nerko One", cursive;
  }
  
  .codedby {
    font-size: 14px;

  }
  
  
